<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息修改</title>
</head>
<body>
    <form action="/stu/add">
        <table>
            <tr>
                <td>姓名：</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td><input type="text" name="age"/></td>
            </tr>
            <tr>
                <td>生日：</td>
                <td><input type="text" name="birthdayDemo"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="添加"/></td>
            </tr>
        </table>
    </form>
</body>
</html>