<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.StudentMap">
    <resultMap id="StudentResultMap" type="com.qf.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
    <insert id="addStudent" parameterType="com.qf.entity.Student">
        insert  into  t_student values(null,#{name},#{age},#{birthday})
    </insert>
</mapper>